# Large data files
data/load_actual.csv
*.zip
gurobi_server13.0.1_linux64.tar.gz
Gurobi-13.0.1-win64.msi

# Large zip files
simbench-develop.zip
simBench2PowerFactory-main.zip
modeling-examples-master.zip
gurobi_server1301.zip
# Large PDF documentation
simbench_documentation_en_1.1.0.pdf

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
gurobi.lic

# Virtual environment
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# folders
simBench2PowerFactory-main/
simbench-develop/
modeling-examples-master/
